<!DOCTYPE HTML> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Getting Started!</title>
</head>
<body>
    <form action="/madlib">
    <h1>Please fill in the blanks!</h1>
      <table> 
        <tr>
          <td>Enter an adjective:</td>
          <td><input type="text" name="adjective-1" id="adjective-text-1" required></td>
        </tr>
        <tr>
          <td>Enter an adjective:</td>
          <td><input type="text" name="adjective-2" id="adjective-text-2" required></td>
        </tr>
        <tr>
          <td>Enter an adjective:</td>
          <td><input type="text" name="adjective-3" id="adjective-text-3" required></td>
        </tr>
        <tr>
          <td>Enter a type of cereal:</td>
          <td><input type="text" name="cereal" id="cereal-text"></td>
        </tr>
        <tr>
          <td>Enter a type of candy:</td>
          <td><input type="text" name="candy-1" id="candy-text-1" required></td>
        </tr>
        <tr>
          <td>Enter a famous building:</td>
          <td><input type="text" name="building" id="building-text" required></td>
        </tr>
        <tr>
          <td>Enter a planet:</td>
          <td><input type="text" name="planet" id="planet-text"required></td>
        </tr>
        <tr>
          <td>Enter a type of cake:</td>
          <td><input type="text" name="cake" id="type-of-cake-text-1" required></td>
        </tr>
        <tr>
          <td>Enter a candy:</td>
          <td><input type="text" name="candy-2" id="candy-text-2" required></td>
        </tr>
        <tr>
          <td>Enter your favorite chocolate:</td>
          <td><input type="text" name="chocolate" id="fav-chocolate-text" required></td>
        </tr>
        <tr>
          <td>Enter a type of soda:</td>
          <td><input type="text" name="soda" id="soda-text" required></td>
        </tr>
        <tr>
          <td>Enter a shape:</td>
          <td><input type="text" name="shape" id="shape-text" required></td>
        </tr>
        <tr>
          <td>Enter a type of cookie:</td>
          <td><input type="text" name="cookie" id="cookie-text" required></td>
        </tr>
        <tr>
          <td>Enter a flavor:</td>
          <td><input type="text" name="flavor" id="flavor-text" required></td>
        </tr>
        <tr>
          <td>Enter an adjective:</td>
          <td><input type="text" name="adjective-4" id="adjective-text-4" required></td>
        </tr>
        <tr>
          <td>Enter a name:</td>
          <td><input type="text" name="name" id="name-text" required></td>
        </tr>
        <tr>
          <td>Enter an animal:</td>
          <td><input type="text" name="animal" id="animal-text" required></td>
        </tr>
      </table>
      <input type="submit" value="Complete">
</body>
</html>