<!DOCTYPE HTML> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Getting Started!</title>
</head>
<body>
    <form action="/madlib">
    <h1>Please fill in the blanks!</h1>
    <label for="adjective-text-1">Enter an adjective:</label>
    <input type="text" name="adjective-1" id="adjective-text-1" required>
    <br>
    <label for="adjective-text-2">Enter an adjective:</label>
    <input type="text" name="adjective-2" id="adjective-text-1"required>
    <br>
    <label for="adjective-text-3">Enter an adjective:</label>
    <input type="text" name="adjective-3" id="adjective-text-1" required>
    <br>
    <label for="cereal-text">Enter a type of cereal:</label>
    <input type="text" name="cereal" id="cereal-text">
    <br>
    <label for="candy-text-1">Enter a type of candy:</label>
    <input type="text" name="candy-1" id="candy-text-1" required>
    <br>
    <label for="building-text">Enter a famous building:</label>
    <input type="text" name="building" id="building-text" required>
    <br>
    <label for="planet-text">Enter a planet:</label>
    <input type="text" name="planet" id="planet-text"required>
    <br>
    <label for="type-of-cake-text">Enter a type of cake:</label>
    <input type="text" name="cake" id="type-of-cake-text-1" required>
    <br>
    <label for="candy-text-2">Enter a candy:</label>
    <input type="text" name="candy-2" id="candy-text-2" required>
    <br>
    <label for="fav-chocolate-text">Enter your favorite chocolate:</label>
    <input type="text" name="chocolate" id="fav-chocolate-text" required>
    <br>
    <label for="soda-text">Enter a type of soda:</label>
    <input type="text" name="soda" id="soda-text" required>
    <br>
    <label for="shape-text">Enter a shape:</label>
    <input type="text" name="shape" id="shape-text" required>
    <br>
    <label for="cookie-text">Enter a type of cookie:</label>
    <input type="text" name="cookie" id="cookie-text" required>
    <br>
    <label for="flavor-text">Enter a flavor:</label>
    <input type="text" name="flavor" id="flavor-text" required>
    <br>
    <label for="adjective-text-4">Enter an adjective:</label>
    <input type="text" name="adjective-4" id="adjective-text-4" required>
    <br>
    <label for="name-text">Enter a name:</label>
    <input type="text" name="name" id="name-text" required>
    <br>
    <label for="animal-text">Enter an animal:</label>
    <input type="text" name="animal" id="animal-text" required>
    <br>
    <input type="submit" value="Complete">
</body>
</html>